// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources
#pragma code_page(65001)   // 65001 = UTF-8

#include <windows.h>

#pragma code_page(65001)   // UTF-8

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1, 80, 0, 0
PRODUCTVERSION  1, 80, 0, 0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN

BEGIN
BLOCK "StringFileInfo"
BEGIN
// 0804 = 中文(中国)，04B0 = Unicode
BLOCK "080404B0"
BEGIN
VALUE "CompanyName", "azx1"
VALUE "FileDescription", "Simple EPUB Reader"
VALUE "FileVersion", "1.0.0.0"
VALUE "InternalName", "SimpleEPUBReader"
VALUE "OriginalFilename", "SimpleEPUBReader.exe"
VALUE "ProductName", "Simple EPUB Reader"
VALUE "ProductVersion", "1.0.0.0"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0804, 1200
END
END

IDR_MENU_MAIN MENU
BEGIN
    POPUP "&文件"
    BEGIN
        MENUITEM "打开(&O)...\tCtrl+O", ID_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "退出(&X)", ID_FILE_EXIT
    END
    POPUP "&设置"
    BEGIN


        MENUITEM "加载 EPUB 自带字体",                  IDM_TOGGLE_EPUB_FONTS, CHECKED
        MENUITEM "启用 悬停预览",                   IDM_TOGGLE_HOVER_PREVIEW, CHECKED
        MENUITEM "启用 点击预览", IDM_TOGGLE_CLICK_PREVIEW, CHECKED
        MENUITEM "启用 滚动动画", IDM_TOGGLE_SCROLL_ANIMATION, CHECKED
        MENUITEM SEPARATOR     // ← 分隔符
        MENUITEM "加载 全局 CSS", IDM_TOGGLE_GLOBAL_CSS, CHECKED
        MENUITEM "加载 EPUB CSS", IDM_TOGGLE_CSS, CHECKED

        MENUITEM SEPARATOR     // ← 分隔符
         MENUITEM "启用 自定义字体", IDM_TOGGLE_CUSTOM_FONT, CHECKED
        MENUITEM "选择字体", ID_CHOOSE_FONT
        POPUP "字体大小"           // ← 二级菜单
        BEGIN
            MENUITEM "+ 增大", ID_FONT_BIGGER
            MENUITEM "- 减小", ID_FONT_SMALLER
            MENUITEM "o 恢复", ID_FONT_RESET
        END
        POPUP "行间距"           // ← 二级菜单
        BEGIN
            MENUITEM "+ 增大", ID_LINE_HEIGHT_UP
            MENUITEM "- 减小", ID_LINE_HEIGHT_DOWN
            MENUITEM "o 恢复", ID_LINE_HEIGHT_RESET
        END
        POPUP "文档宽度"           // ← 二级菜单
        BEGIN
            MENUITEM "+ 增大", ID_WIDTH_BIGGER
            MENUITEM "- 减小", ID_WIDTH_SMALLER
            MENUITEM "o 恢复", ID_WIDTH_RESET
        END
        POPUP "文档缩放倍率"           // ← 二级菜单
        BEGIN
            MENUITEM "+ 增大", ID_ZOOM_BIGGER
            MENUITEM "- 减小", ID_ZOOM_SMALLER
            MENUITEM "o 恢复", ID_ZOOM_RESET
        END
        MENUITEM SEPARATOR     // ← 分隔符
        MENUITEM "恢复默认", ID_RESET_ALL
    END
    POPUP "&显示"
    BEGIN
        MENUITEM "目录栏",                          IDM_TOGGLE_TOC_WINDOW, CHECKED
        MENUITEM "状态栏",                         IDM_TOGGLE_STATUS_WINDOW, CHECKED
        MENUITEM "滚动条",                         IDM_TOGGLE_SCROLLBAR_WINDOW, CHECKED
        MENUITEM "菜单栏",                         IDM_TOGGLE_MENUBAR_WINDOW, CHECKED
        MENUITEM "显示 帧率", IDM_TOGGLE_FRAME_RATE, CHECKED
    END
END



IDR_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "复制", ID_EDIT_COPY
        MENUITEM "显示目录栏", IDM_TOGGLE_TOC_WINDOW
        MENUITEM "刷新", ID_EPUB_RELOAD
        MENUITEM "选择字体", ID_CHOOSE_FONT
    END
END

IDI_SCROLLBAR_DOT ICON "dot.ico"
IDI_MY_APPLICATION ICON "app.ico"


IDD_FONTDLG DIALOGEX 0, 0, 230, 320
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE
CAPTION "选择字体"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
LTEXT "可用字体:", -1, 15, 15, 80, 15, SS_SIMPLE
LISTBOX IDC_LIST_FONT, 15, 30, 200, 180, LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | LBS_HASSTRINGS | WS_BORDER

CONTROL "启用实时预览", IDM_TOGGLE_FONT_REALTIME_PREVIEW, "Button",
BS_AUTOCHECKBOX | WS_TABSTOP | BS_LEFT, 15, 220, 110, 20

DEFPUSHBUTTON "确定", IDOK, 60, 280, 60, 24
PUSHBUTTON "取消", IDCANCEL, 135, 280, 60, 24
END